@charset "UTF-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-color: #cdcdcd;
	overflow-x: hidden;
	overflow-y: hidden;
	transform: translate3d(0,0,0);
	backface-visibility: hidden
}
html, body {
	height: 100%;
}
header{
	width: 100%;
	background-color: #45485e;
	background-position: 50% 50%;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 10;
}
.header-contents{
	box-sizing:border-box;
	max-width: 960px;
	margin: 0 auto;
	min-height: 100px;
	background-image: url(shinshu-logo.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
.header-contents h1,
.header-contents h2{
	margin: 0;
    margin-left: 10px;
	color: #fff;
	line-height: 1;
}
.header-contents h1{
	padding: 30px 0 10px 85px;
	font-size: 24px;
}
.header-contents h2{
	padding: 0 0 0 85px;
	font-size: 14px;
	font-weight: normal;
}
.main-style{
	position: relative;
}
footer{
	position: fixed;
	bottom: 0;
	right: 0;
}
a{
	color: #ade7ca;
	text-decoration: none;
}
a:hover{
	color: #2b4131;
	text-decoration: underline;
}

@media (max-width: 600px){
	header{
		background-position: 32% 50%;
		border-top: #292a37 35px solid;
	}
	.header-contents{
		min-height: 60px;
		background-size: 40px 40px;
		background-position: 10px 50%;
	}
	.header-contents h1{
		padding: 15px 0 5px 55px;
		font-size: 16px;
	}
	.header-contents h2{
		padding: 0 0 0 55px;
		font-size: 12px;
	}
}

.main-style h1{
	text-align: center;
	color: #adadad;
	text-shadow: 5px 5px 3px #45485e;
}
.main-style p{
	text-align: center;
	color: #adadad;
	text-shadow: 5px 5px 3px #45485e;
}


.bear{
	opacity: 0;
	position: relative;
	transform: scale(0.7);
	left: 0px;
}

#bear_head, #bear_body, #bear_hand{
	position: absolute;
}

#bear_head{
	left: -12px;
	top: 15px;
}

#bear_body{
	top: 190px;
	left: 10px;
}

#bear_hand{
	top: 100px;
	left: -230px;
	transform-origin: 95% 60%;
	transform: rotate(0deg);
}

.fishForm{
	position: relative;
	width: 70%;
	max-width: 900px;
	opacity: 0;	
	text-align: center;	
	margin: 0 auto;
	transform: scale(1);
}

#fish{
	width: 900px;
	
}

.userInput{
	text-align: center;
	position: absolute;
	top: 150px;
	left: 140px;
	color: white;
	width: 100;
}

.userInput input{
	box-sizing: border-box;
	background-color: #4f4237;
	color: white;
	height: 30px;
	border-radius: 10px;
}

.regButtonField{
	opacity: 0;
	padding-left: 10px;
	text-align: center;
}

#regBtn{
	cursor: pointer;
	background-color: #5290b5;
	width: 250px;
	height: 50px;
	border-radius: 5px;
	color: white;
	font-size: 15pt;
	font-family: inherit;
	border-color: #adadad;
}

#regBtn:hover{
	background-color: #345f78;
}

.fishingTools{
	position: relative;
	left: 80%;
	top: -900px;
}

#fishLine, #fishHook, #collider{
	position: absolute;
}

#fishHook{
	top: 480px;
	left: -30px;
}

#collider{
	left: 30px;
	top: 10px;
	opacity: 50%;
}

.foreground{
	opacity: 100%;
	position: absolute;
	transform: translate(0, 0);
	width: 100%;
	height: 100%;
	top: 0;
	background-color: white;
}

#tsurarero{
	opacity: 0%;
	position: fixed;
	width: 100%;
	top: 40%;	
}

#tsurarero img{
	min-width: 200px;
	width: 25%;
	padding: 5% 37.5%;
}

#fxChkDiv{
	position: relative;
	top: 100px;
}

#effectChk{
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
}

#fxChkDiv label{
	color: white;
}

